<h1>New Subfolder</h1>

<%= form_with(model: [@subfolder], local: true) do |form| %>

  <% if @subfolder.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subfolder.errors.count, "error") %> prohibited this subfolder from being saved:</h2>

      <ul>
        <% @subfolder.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>


  <% if @subfolder.parent_id.present? %>
    <%= form.hidden_field :parent_id, value: @subfolder.parent_id %>
  <% end %>
  <div class="actions">
    <%= form.submit data: {turbo: false} %>
  </div>
<% end %>

